body{
    background-color: #1b1b1b;
}

.container {
    width: 960px;
    margin: 0 auto;
}

.chart{
    width: 20%;
    height: 200px;
    background-color: #FFF;
    float: left;
}
.map{
    float: right;
    width: 80%;
    border: 1px #FFF solid;
}

.slider{
    margin-top: 20px;
    width: 100%;
    background-color: #FFF;
}